.item {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  border: transparent;
  border-radius: 5px;
  background-color: rgb(239, 173, 230);
}
.button {
  text-align: center;
}
.phone {
  margin-right: 50px;
  width: 50%;
}
.name {
  width: 50%;

  margin-right: 50px;
}
.created {
  text-align: center;
}

.phone::before {
  content: 'Phone number: ';
  color: #db1111;
}
.created::before {
  content: 'Created: ';
  color: #db1111;
}
.name::before {
  content: 'Name: ';
  color: #db1111;
}
.delete {
  background-color: #4caf50;
}
